In [2]:
import pandas as pd

In [3]:
df_pre = pd.read_csv('Resultados comparativa anterior.csv')
df_pre

,NOMBRE DEL INVESTIGADOR,NOMBRE DEL INVESTIGADOR PATENTE,SIMILARITY,NOMBRE_INVESTIGADOR_NORM,NOMBRE_PATENTE_NORM,ES_MISMA_PERSONA,SCORE,DETALLES
0,"ABSALON CONSTANTINO,ANGEL EDUARDO","ABSALON CONSTANTINO,ANGEL EDUARDO",100,"ABSALON CONSTANTINO,ANGEL EDUARDO","ABSALON CONSTANTINO,ANGEL EDUARDO",False,40.0,Similitud Nombre (100%)
1,"ABURTO ANELL,JORGE ARTURO","ABURTO ANELL,JORGE ARTURO",100,"ABURTO ANELL,JORGE ARTURO","ABURTO ANELL,JORGE ARTURO",False,60.0,Institución
2,"ACEVES DIEZ,ANGEL EMILIO","ACEVES DIEZ,ANGEL EMILIO",100,"ACEVES DIEZ,ANGEL EMILIO","ACEVES DIEZ,ANGEL EMILIO",False,40.0,Sin coincidencias
3,"RIVAS ACEVES,SALVADOR","ACEVES,SALVADOR M",7.777.777.777.777.770,"RIVAS ACEVES,SALVADOR","ACEVES,SALVADOR M",False,37.6,Similitud Nombre (94%)
4,"ACOSTA GONZALEZ,GUILLERMO ENRIQUE","ACOSTA GONZALEZ,GUILLERMO ENRIQUE",100,"ACOSTA GONZALEZ,GUILLERMO ENRIQUE","ACOSTA GONZALEZ,GUILLERMO ENRIQUE",False,40.0,Sin coincidencias
...,...,...,...,...,...,...,...,...
971,"ZAVALA OLIVARES,GERARDO","ZAVALA OLIVARES,GERARDO",100,"ZAVALA OLIVARES,GERARDO","ZAVALA OLIVARES,GERARDO",False,60.0,Institución
972,"ZAVALA YOE,RICARDO","ZAVALA,RICARDO",87.5,"ZAVALA YOE,RICARDO","ZAVALA,RICARDO",True,80.0,"Institución, Fecha"
973,"ZENTENO RAMIREZ,ANTONIO","ZENTENO RAMIREZ,ANTONIO",100,"ZENTENO RAMIREZ,ANTONIO","ZENTENO RAMIREZ,ANTONIO",False,40.0,Sin coincidencias
974,"ZEPEDA PARTIDA,TRINO ARMANDO","ZEPEDA PARTIDA,TRINO ARMANDO",100,"ZEPEDA PARTIDA,TRINO ARMANDO","ZEPEDA PARTIDA,TRINO ARMANDO",False,60.0,Institución
975,"ZOLOTUKHIN,MIKHAIL","ZOLOTUKHIN,MIKHAIL",100,"ZOLOTUKHIN,MIKHAIL","ZOLOTUKHIN,MIKHAIL",False,60.0,Institución

In [4]:
# Convertimos a float la columna SIMILARITY, los números con más de un punto como '7.777.777.777.777.770' agarrar solo los primeros 3 dígitos '7.777.777.777.777.770' -> '7.77'
def formatear_similarity(valor):
    cad = str(valor)
    idx = cad.find('.')
    if idx != -1:
        # Toma los primeros dos dígitos antes del punto
        entero = cad[:idx].replace('.', '')[:2]
        # Toma el primer dígito después del punto
        decimal = cad[idx+1:idx+2]
        fixed = f"{entero}.{decimal}"
        try:
            resultado = float(fixed)
            return min(resultado, 100.0)  # Limitar el valor máximo a 100
        except ValueError:
            return 0.0  # o maneja el error según convenga
    return float(cad)

df_pre['SIMILARITY'] = df_pre['SIMILARITY'].apply(formatear_similarity)

In [5]:
# eliminamos los datos que tengan 100 en el 'SIMILARITY'
df_pre = df_pre[df_pre['SIMILARITY'] < 100]

In [6]:
df_new = pd.read_csv('Coincidencias.csv')
df_new

              NOMBRE DEL INVESTIGADOR                   NOMBRE_INVENTOR  Ratio
0        VAZQUEZ GUEVARA,MIGUEL ANGEL      VAZQUEZ GUEVARA,MIGUEL ANGEL  100.0
1      DOMINGUEZ ESQUIVEL,JOSE MANUEL    DOMINGUEZ ESQUIVEL,JOSE MANUEL  100.0
2           MIRANDA OLVERA,ALMA DELIA         MIRANDA OLVERA,ALMA DELIA  100.0
3             FLORES SANCHEZ,PATRICIA           FLORES SANCHEZ,PATRICIA  100.0
4           ABURTO ANELL,JORGE ARTURO         ABURTO ANELL,JORGE ARTURO  100.0
..                                ...                               ...    ...
606  AGUILAR ARMENDARIZ,RAMON ALBERTO  AGUILAR ARMENDARIZ,RAMON ALBERTO  100.0
607             SACRISTAN ROCK,EMILIO             SACRISTAN ROCK,EMILIO  100.0
608       ALONSO VILATELA,MARIA ELISA       ALONSO VILATELA,MARIA ELISA  100.0
609   VILLARREAL TREVINO,JUAN ANTONIO   VILLARREAL TREVINO,JUAN ANTONIO  100.0
610                        LIU,HONGBO                        LIU,HONGBO  100.0

[611 rows x 3 columns]

In [7]:
df_PATENTE = pd.read_csv('listaNombresPatentes.csv')
df_PATENTE

                     NOMBRE_INVENTOR
0            Valadez Lopez,Jose Juan
1      ZUBIRIA ELIZONDO,Miguel Jorge
2                   Choudhury,Rezaul
3          Zapata Abdala,Ohster Edga
4             Medina Valencia,Verona
...                              ...
11885      Gerald Donner,Christopher
11886    Laguera Garza,Marcelo Garza
11887            Luke Molnar,Terence
11888           Felipe Ortega,Daniel
11889               N Franklin,David

[11890 rows x 1 columns]

In [8]:
df_SNII = pd.read_csv('Nombres_Limpios_Final.csv')
df_SNII

                  NOMBRE DEL INVESTIGADOR
0                         AALI BUJARI,ALI
1      AANSTANT,CHLOE LUCIENNE MARGUERITE
2                    AARLAND,RAYN CLARENC
3           ABA GUEVARA,CINTHIA GUADALUPE
4               ABAD JAVIER,MARIO EDUARDO
...                                   ...
57181           ZURITA MENDEZ,NANCY NELLY
57182         ZURITA ORTEGA,MARIO ENRIQUE
57183     ZURITA RIVERA,URSULA DEL CARMEN
57184        ZURITA SANCHEZ,JORGE ROBERTO
57185                  ZUVERZA MENA,NUBIA

[57186 rows x 1 columns]

In [9]:
df_Prenew = pd.read_csv('Pre Coincidencias.csv')
df_Prenew

,NOMBRE DEL INVESTIGADOR,NOMBRE_INVENTOR,Ratio
0,"VAZQUEZ GUEVARA,MIGUEL ANGEL","VAZQUEZ GUEVARA,MIGUEL ANGEL",100.0
1,"DOMINGUEZ ESQUIVEL,JOSE MANUEL","DOMINGUEZ ESQUIVEL,JOSE MANUEL",100.0
2,"MIRANDA OLVERA,ALMA DELIA","MIRANDA OLVERA,ALMA DELIA",100.0
3,"MARTINEZ,ALFREDO","BARRALES MARTINEZ,ALFREDO",100.0
4,"MARTINEZ,ALFREDO","CERVANTES MARTINEZ,ALFREDO EDUARDO",100.0
...,...,...,...
2950,"A DIAZ,JOSE","AGUILAR DIAZ,JOSE HUGO",90.0
2951,"A DIAZ,JOSE","BARGAS DIAZ,JOSE",90.0
2952,"A DIAZ,JOSE","COSSIO DIAZ,JOSE RAMON",90.0
2953,"A DIAZ,JOSE","DIAZ,JOSE SATURNINO",90.0
2954,"A DIAZ,JOSE","ELIZALDE DIAZ,JOSE PEDRO",90.0